extends layout

block content
  h1= title

  form.calc-form
    h2.receiving-amt Amount to receive: 
    input(type='text', value='', placeholder='$0.00').total-input#total-amount
    label.compare-label
      input(type='checkbox')#compare-checkbox
      span.compare-text compare?

  div.payment-method.recommendation#recommendation
      h2#preferred-method Recommended payment method
      ul.pay-breakdown
        li Initial amount: 
          b.amt $
          span#initial-amount.amt 0.00
        li After Paypal fees: 
          b.amt $
          span#new-amount.amt 0.00
        li Total fees: 
          b.amt $
          span#total-fees.amt 0.00
        li Final amount
          span.container-withdrawal , in
            <span id="total-withdrawals">0</span> withdrawals 
          b.amt $
          span#final-amount.amt 0.00

  div#comparison.side-comparison
    .comparison.comparison-paypal
      h2 Paypal
      ul.pay-breakdown
        li Initial amount: 
          b.amt $
          span#ppl-initial-amount.amt 0.00
        li After Paypal fees: 
          b.amt $
          span#ppl-new-amount.amt 0.00
        li Total fees: 
          b.amt $
          span#ppl-total-fees.amt 0.00
        li Final amount, in 
          <span id="ppl-total-withdrawals">0</span> withdrawals 
          b.amt $
          span#ppl-final-amount.amt 0.00

    .comparison.comparison-bank-transfer
      h2 Bank to Bank
      ul.pay-breakdown
        li.b2b-initial-amount Initial amount: 
          b.amt $
          span#b2b-initial-amount.amt 0.00
        li Total fees: 
          b.amt $
          span#b2b-total-fees.amt 0.00
        li Final amount: 
          b.amt $
          span#b2b-final-amount.amt 0.00
      
