extends layout

block content
  h1= title
  p Welcome to the #{title} 

  form.calc-form
    label Monto a recibir: $
    input(type='text', value='', placeholder='0.00').total-input#total-amount

  div.payment-methods
    div.pay-option-one
      h2#preferred-method Recommended payment method
      ul.pay-breakdown
        li Initial amount: $<span id="one-initial-amount">0.00</span>
        li After Paypal fees: $<span id="one-new-amount">0.00</span> 
        li Final Amount $<span id="one-final-amount">0.00</span>, in <span id="one-total-withdrawals">0</span> withdrawals
        li Total fees: $<span id="one-total-fees">0.00</span>
  
