extends layout

block content
  h1= title
  p Welcome to the #{title} 

  form.calc-form
    label Monto a recibir: $
    input(type='text', value='', placeholder='amount in US dollars').total-input#total-amount

  div.payment-methods
    div.pay-option-one
      h2 Paypal > Bank of America > Local withdrawals
      ul.pay-breakdown
        li initial amount: $<span id="one-initial-amount">0.00</span>
        li after Paypal fees: $<span id="one-new-amount">0.00</span> 
        li total fees: $<span id="one-total-fees">0.00</span>
        li Final Amount $<span id="one-final-amount">0.00</span>, brokedown in <span id="one-total-withdrawals">0</span> withdrawals
    div.pay-option-two
      h2 Bank to Bank transfer
  
