extends layout

block content
  h1= title

  form.calc-form
    h2.receiving-amt Amount to be received: 
    input(type='text', value='', placeholder='$0.00').total-input#total-amount

  div.payment-method
      h2#preferred-method Recommended payment method
      ul.pay-breakdown
        li Initial amount:<b class="amt"> $</b><span id="one-initial-amount" class="amt">0.00</span>
        li After Paypal fees:<b class="amt">$</b><span id="one-new-amount" class="amt">0.00</span>
        li Total fees: <b class="amt">$</b><span id="one-total-fees" class="amt">0.00</span>
        li Final amount<span class="container-withdrawal">, in <span id="one-total-withdrawals">0</span> withdrawals</span> <b class="amt">$</b><span id="one-final-amount" class="amt">0.00</span>
  
