body {
  font: 16px/24px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.amt {
  color: #333;
  font-size: 22px;
  font-weight: bold;
  line-height: 28px;
}
.calc-form {
  background: $gray;
}
.comparison {
  display: inline-block;
  padding: 70px 15px 15px;
  vertical-align: top;
  width: 320px;
}
.comparison.best {
  background-color: $gray;
}
.comparison.comparison-paypal {
  text-align: right;
}
.comparison .b2b-initial-amount {
  margin-bottom: 27px;
}
.container {
  margin: 0 auto;
  width: 700px;
}
.pay-breakdown {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.payment-method .pay-breakdown {
  margin-right: 400px;
}
.payment-method .pay-breakdown li {
  color: #666;
  list-style-type: none;
  text-align: right;
}
.receiving-amt {
  display: inline-block;
  vertical-align: top;
}
.total-input {
  background: #fff;
  border: 1px solid #bfbfbf;
  border-radius: 3px;
  font-size: 24px;
  font-family: Georgia, Times New Roman, serif;
  height: 40px;
  margin: 10px 5px 0 10px;
  padding: 0 10px;
  text-align: center;
  width: 80px;
}
.total-input:focus {
  box-shadow: 0 0 16px #969696, 0 0 10px #c9c9c9, 0 0 4px #fcfcfc;
  outline: 0;
}
.paypal,
.comparison-paypal {
  background: url("/images/paypal.png") -5px 35px no-repeat;
}
.bank-transfer,
.comparison-bank-transfer {
  background: url("/images/bncr.gif") left 48px no-repeat;
}
.comparison-paypal {
  background-position: center 10px;
}
.comparison-bank-transfer {
  background-position: top center;
}
.hidden {
  display: none;
}
.recommendation-body #comparison {
  display: none;
}
.comparison-body #recommendation {
  display: none;
}
