body {
  font: 16px/24px "Lucida Grande", Helvetica, Arial, sans-serif;
}
h1 {
  color: #21610b;
  margin-top: 50px;
}
.amt {
  color: #333;
  font-size: 22px;
  font-weight: bold;
  line-height: 28px;
}
.comparison {
  border-radius: 3px;
  display: inline-block;
  margin: 20px 0 10px;
  padding: 0 15px 15px;
  vertical-align: top;
  width: 320px;
  -moz-transition: 0.2s linear all;
  -webkit-transition: 0.2s linear all;
  transition: 0.2s linear all;
}
.comparison.best {
  box-shadow: 0 0 30px #e6fbdf, 0 0 40px #eefde9, 0 0 50px #f9fef8;
}
.comparison h2 {
  text-align: center;
}
.comparison .b2b-initial-amount {
  margin-bottom: 27px;
}
.container {
  margin: 0 auto;
  width: 700px;
}
.pay-breakdown {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.payment-method .pay-breakdown {
  margin-right: 400px;
}
.payment-method .pay-breakdown li {
  color: #666;
  list-style-type: none;
  text-align: right;
}
.receiving-amt {
  display: inline-block;
  vertical-align: top;
}
.total-input {
  background: #fff;
  border: 1px solid #73eb4a;
  box-shadow: inset 0 0 10px #eee;
  border-radius: 3px;
  font-size: 24px;
  font-family: Georgia, Times New Roman, serif;
  height: 40px;
  margin: 10px 5px 0 10px;
  padding: 0 10px;
  text-align: center;
  width: 80px;
  -moz-transition: 0.2s linear all;
  -webkit-transition: 0.2s linear all;
  transition: 0.2s linear all;
}
.total-input:focus {
  box-shadow: inset 0 0 20px #eee, 0 0 30px #e6fbdf, 0 0 40px #eefde9, 0 0 50px #f9fef8;
  outline: 0;
}
.paypal {
  background: url("/images/paypal.png") -5px 35px no-repeat;
}
.bank-transfer {
  background: url("/images/bncr.gif") left 48px no-repeat;
}
.hidden {
  display: none;
}
.recommendation-body #comparison {
  display: none;
}
.comparison-body #recommendation {
  display: none;
}
