body {
  padding: 2%;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
.container {
  width: 800px;
  margin: 0 auto;
}
.total-input {
  border: none;
  border-bottom: 1px solid #aaa;
  font-size: 24px;
  font-family: Georgia, Times New Roman, serif;
  height: 40px;
  padding: 0 10px;
  text-align: center;
  width: 80px;
}
.amt {
  color: #333;
  font-size: 22px;
  font-weight: bold;
  line-height: 28px;
}
.receiving-amt {
  display: inline-block;
  vertical-align: top;
}
.calc-form {
  background: rgba(0,0,0,0.02);
  padding: 0 0 0 10px;
}
.pay-breakdown {
  padding: 0;
  margin: 0;
  list-style-position: inside;
}
.payment-method .pay-breakdown {
  margin-right: 400px;
}
.payment-method .pay-breakdown li {
  list-style-type: none;
  margin-right: 70px;
  text-align: right;
  color: #666;
}
.total-input {
  background: transparent;
  margin-left: 10px;
}
.comparison h2 {
  visibility: hidden;
}
.comparison.best {
  background-color: rgba(0,0,0,0.02);
}
.paypal,
.comparison-paypal {
  background: url("/images/paypal.png") top left no-repeat;
}
.bank-transfer,
.comparison-bank-transfer {
  background: url("/images/bncr.gif") left 48px no-repeat;
}
.comparison-paypal {
  background-position: 0 -29px;
}
.comparison-bank-transfer {
  background-position: 0 4px;
}
.comparison {
  display: inline-block;
  width: 50%;
  vertical-align: top;
}
.recommendation-body #comparison {
  display: none;
}
.comparison-body #recommendation {
  display: none;
}
